.line-1 {
  font-size: 46px;
  white-space: nowrap;
  letter-spacing: 12px;
}

/* Animation */
.anim-typewriter {
  animation: word 1500ms steps(12), blink 1500ms steps(12);
}

@keyframes word {
  from {
    width: 0;
  }
  to {
    width: 350px;
  }
}
@keyframes blink {
  from {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
  }
  to {
    border-right: 2px solid rgba(255, 255, 255, 0);
  }
}
